<form class="form-horizontal" action='/create' method='post'>
  <div class="control-group">
    <label class="control-label" for="labelName">Name</label>
    <div class="controls">
      <input type="text" name="name" placeholder="Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="labelAge">Age</label>
    <div class="controls">
      <input type="text" name="age" placeholder="Age">
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="labelGender">Gender</label>
    <div class="controls">
      <input type="text" name="gender" placeholder="Gender">
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="labelImage">Image</label>
    <div class="controls">
      <input type="text" name="image" placeholder="Image">
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="labelTwitter">Twitter</label>
    <div class="controls">
      <input type="text" name="twitter" placeholder="Twitter">
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="labelFacebook">Facebook</label>
    <div class="controls">
      <input type="text" name="facebook" placeholder="Facebook">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Add Friend</button>
    </div>
  </div>
</form>