<header>About SMMdb</header>
<section>
  <p>
    Please refrain from Mayoneggs during this salmonella scare. Wine only turns to alcohol if you let it sit. She keeps saying that God is going to show me a sign. The… something of my ways. Saw this on the highway and almost blue myself. Hop on? You want your belt to buckle, not your chair. Pound is tic-tac-toe, right? It's Sunday, but screw it — juice box time. If that man's straight, then I am sober.
  </p>
  <p>
    It's, like, Hey, you want to go down to the whirlpool? Yeah, I don't have a husband. I call it Swing City. Buster, what are you doing with mother's rape horn? Taste the happy, Michael. Taste it. It tastes kind of like sad. Get rid of the Seaward. Lucille: I'll leave when I'm good and ready. Maybe it was the eleven months he spent in the womb. The doctor said there were claw marks on the walls of her uterus.
  </p>
  <p>
    Either I zip down, or he zips up, and that is a mighty long zipper on Mother's Cher jumpsuit. Here he comes. Here comes John Wayne. I know, I just call her Annabelle cause she's shaped like a…she's the belle of the ball!
  </p>
  <p>
    Tobias Fünke costume. It just seems like there's still light coming in from under the door.
  </p>
</section>