<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>links</title>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/sports'>Sports</a></li>
        <li><a href='/weather'>Weather</a></li>
        <li><a href='gossip'>Gossip</a></li>
        <li><a href='tech'>Technology</a></li>
      </ul>
  <%= yield %>
</nav>
  </body>
</html>