<header>About DO IT!</header>
<section>
  <p>
    So, what do you say? We got a basket full of father-son fun here. What's Kama Sutra oil? Maybe it's not for us. I just don't want him to point out my cracker ass in front of Ann. Even though so many people in this office are begging for it. Oh…yeah…the guy in the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. Come on!
  </p>
  <p>
    ♪♪ It ain't easy being white… ♪♪ I never thought I'd miss a hand so much! Up yours, granny! You couldn't handle it! One for the ladies. Although George Michael had only got to second base, he'd gone in head first, like Pete Rose. Turn this skiff around! Pound is tic-tac-toe right? He… she… what's the difference? Oh hear, hear. In the dark, it all looks the same.
  </p>
</section>