<header>FAQ</header>
<section>
  <ol>
    <li>
      It's, like, Hey, you want to go down to the whirlpool?
    </li>
      <p>
        Yeah, I don't have a husband. I call it Swing City. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide. Happy. [climbing under trampoline] This shall keep me safe from the hot Mexican sun.
      </p>
    <li>
      What's next, Michael? Are you going to make dancing illegal?
    </li>
      <p>
        Is this the tiny town from Footloose? It's as Ann as the nose on plain's face. Te quiero. English, please. I love you! Great, now I'm late. That's so you can videotape it when they put you in a naked pyramid and point to your Charlie Browns. I mean, it's one banana, Michael. What could it cost, ten dollars? Actually, that was a box of Oscar's legally obtained medical marijuana. Primo bud. Real sticky weed. Look at us, crying like a bunch of girls on the last day of camp. For the same reason you should believe a hundred dollar bill is no more than a hundred pennies! ♪♪ And the thought of rubbin' you is getting so exciting. Sky rockets in flight! Afternoon delight! ♪♪
      </p>
    <li>
      Heart attack never stopped old big bear.
    </li>
      <p>
        But I did finally get into Dad's pants. Although I had to have the crotch taken in a little bit. If you're suggesting I play favorites, you're wrong. I love all of my children equally. [earlier] I don't care for Gob. After all, why should you go to jail for a crime somebody else noticed?
      </p>
    <li>
      Yes, Annyong. Your name is Annyong!
    </li>
      <p>
        We all know you're Annyong! I'll sacrifice anything for my children. She's always got to wedge herself in the middle of us so that she can control everything. Yeah. Mom's awesome. I spent so much time making sweet love on my wife that it's hard to hear anything over the clatter of her breasts.
      </p>
    <li>
      Absolutely. And we're going to be here every day.
    </li>
      <p>
        I don't care if it takes from now till the end of Shrimpfest. You are a worse psychiatrist than you are a son-in-law and you will never get work as an actor because you have no talent. That's my son, you pothead! It's a jetpack, Michael. What could go wrong?
      </p>
  </ol>
</section>