<table>
  <tr>
    <th>Date</th>
    <th>Task</th>
    <th>Description</th>
  </tr>
<% @rows.each do |row| %>
  <tr>
    <td><%= row['post_date'] %> </td>
    <td><%= row['title'] %> </td>
    <td><%= row['description'] %> </td>
  </tr>
<% end %>
</table>