<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>DO IT!</title>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/faq'>FAQ</a></li>
        <li><a href='/new'>Add New Task</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>