<form action='/create' method='post'>
  Date<input type='text' name='post_date' autofocus>
  Title<input type='text' name='title'>
  Description<textarea type='text' name='description'></textarea>
  <button>Post</button>
</form>