<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Calculator</title>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body>
    <div id='container'>
      <%= yield %>
      <footer>(c)Mathematical!Rhombus! LLC</footer>
    </div>
  </body>
</html>