<!DOCTYPE html>
<html>
  <head>
    <title>Dogs</title>
    <meta name="viewport" charset='utf-8' content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href='/css/style.css' rel='stylesheet'
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
  </head>
  <body>
    <div class="row-fluid">
      <div class="span2">
        <nav>
          <ul class="nav nav-pills nav-stacked">
            <li><a href='/'>Home</a></li>
            <li><a href='/new'>New Dog</a></li>
            <li><a href='/dogs'>Dogs</a></li>
            <% @nav_rows.each do |row| %>
              <li><a href='/dogs/<%= row['breed'] %>'><%= row['breed'] %></a></li>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="span8"><%= yield %></div>
    </div>
  </body>
</html>